* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_text--: black;
    --color_bg--: white;
    --color-btn-theme--: white;
}

body {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "side content";
    height: 100vh;
    width: 100vw;
}

.side {
    grid-area: side;
    background-image: url("/static/img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.side img {
    max-width: 100%;
    max-height: 100%;
}

.genesis-logo {
    position: absolute;
    top: 50px;
    left: 73px;
    width: 211px;
    height: 91px;
    aspect-ratio: 2.31;
    background-image: url(https://c.animaapp.com/aPetIHpm/img/genesislogo--2--1@2x.png);
    background-size: cover;
    background-position: center;
    animation: fadeIn 5s;
}

.genesis-logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-rows: 10% auto;
    grid-template-areas:
        "navbar_content"
        "conteudo_content";
    background-color: var(--color_bg--);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.navbar_content {
    grid-area: navbar_content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
        "projeto espaco planetas home astros missoes btn_grid";
    width: 100%;
    justify-items: center;
    align-items: center;
    padding-inline: 40px;
}

#projeto { grid-area: projeto; }
#espaco { grid-area: espaco; }
#planetas { grid-area: planetas; }
#home { grid-area: home; }
#astros { grid-area: astros; }
#missoes { grid-area: missoes; }

.btn_theme {
    grid-area: btn_grid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-image: url("/static/img/Moon.png");
    background-size: cover;
    color: var(--color-btn-theme--);
}

.text-wrapper {
    position: absolute;
    width: 100%;
    top: 22%;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    font-size: 64px;
    color: var(--color_text--);
    animation: fadeIn 5s;
}

.text-wrapper-2,
.text-wrapper-3 {
    text-decoration: none;
    font-family: "Poppins", Helvetica;
    color: var(--color_text--);
    transition: all 0.3s ease;
}

.text-wrapper-2 {
    font-size: 20px;
}

.text-wrapper-3 {
    font-size: 30px;
}

.text-wrapper-2:hover,
.text-wrapper-3:hover {
    transform: translateY(-4px);
}

.conteudo_content {
    grid-area: conteudo_content;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "planeta"
        "sobre";
    justify-content: center;
    align-items: center;
}

.planet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet img {
    width: 220px;
}

.label_planet {
    font-family: "Poppins", Helvetica;
    font-size: 64px;
    font-weight: bold;
    color: var(--color_text--);
}

.sobre {
    grid-area: sobre;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;
}

.sobre h2 {
    font-family: "Georgia", serif;
    font-size: 26px;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 10px;
    color: var(--color_text--);
}

.sobre p {
    font-family: "Georgia", serif;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    color: var(--color_text--);
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 430px) {

    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "side"
            "content";
        height: auto;
        overflow-x: hidden;
    }

    .side {
        width: 100%;
        height: 100vh;
    }

    .content {
        grid-template-rows: auto auto;
        height: auto;
        overflow-y: auto;
    }

    .navbar_content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "home planetas espaco"
            "projeto astros missoes"
            "btn_grid btn_grid btn_grid";
        padding-inline: 10px;
        row-gap: 10px;
    }

    .planet {
        display: flex;
    }

    .label_planet {
        font-size: 48px;
    }

    .sobre {
        width: 90%;
        margin-top: 10px;
    }

    .sobre h2 {
        margin-left: 10px;
        font-size: 22px;
    }

    .sobre p {
        font-size: 12px;
    }
}
.p-ia{
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    color: var(--color_text--);
}