.landing-page {
  background-color: #000000;
  width: 100%;
  min-width: 1522px;
  min-height: 942px;
  position: relative;
}

.landing-page .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1700px;
  height: 1000px;
  aspect-ratio: 1.62;
}

.landing-page .world {
  position: absolute;
  top: 0;
  left: 1200px;
  width: 800px;
  height: 1000px;
}

.landing-page .genesis-logo {
  position: absolute;
  top: 50px;
  left: 73px;
  width: 211px;
  height: 91px;
  aspect-ratio: 2.31;
  background-image: url(https://c.animaapp.com/aPetIHpm/img/genesislogo--2--1@2x.png);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .texto-de-efeito {
  position: absolute;
  top: 316px;
  left: 73px;
  width: 623px;
  height: 213px;
}

.landing-page .text-wrapper {
  position: absolute;
  width: 100%;
  height: 34.74%;
  top: 22.07%;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0.50px;
  line-height: 44px;
}

.landing-page .div {
  position: absolute;
  width: 95.67%;
  height: 63.38%;
  top: 50.23%;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.50px;
  line-height: 44px;
}

.landing-page .navbar {
  display: flex;
  width: 848px;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 62px;
  left: calc(50.00% - 171px);
}

.landing-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 17.2px;
  white-space: nowrap;
}

.landing-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 30.6px;
  letter-spacing: 0;
  line-height: 26.3px;
  white-space: nowrap;
}

.landing-page .explore {
  position: absolute;
  top: 570px;
  left: 58px;
  width: 226px;
  height: 80px;
  display: flex;
}

.landing-page .navegar {
  margin-top: 18px;
  width: 167px;
  height: 44px;
  margin-left: 51px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.50px;
  line-height: 44px;
  white-space: nowrap;
}
