<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Genesis - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Projeto Genesis</h1>
        <p>Top 16 Candidatos por Categoria</p>
    </header>

    <main>
        {% for categoria, lista_planetas in dashboard.items() %}

        <section class="categoria-section">
            <h2>{{ categoria }}</h2>

            {% if lista_planetas %}
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Score</th>
                            <th>Raio (R⊕)</th>
                            <th>Ano</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in lista_planetas %}
                        <tr>
                            <td><strong>{{ p.nome_planeta }}</strong></td>

                            <td style="color: {% if p.calcular_provabilidade_vida() > 0.7 %} green {% else %} #555 {% endif %};">
                                {{ "%.2f"|format(p.calcular_provabilidade_vida()) }}
                            </td>

                            <td>{{ p.raio_planeta }}</td>
                            <td>{{ p.ano_descoberta }}</td>
                        </tr>
                        {% endfor %} </tbody>
                </table>
            {% else %}
                <p>Nenhum planeta encontrado nesta categoria.</p>
            {% endif %}
        </section>
        <hr>
        {% endfor %}
    </main>
</body>
</html>